.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -159px;
}

.smallPokeBall {
  position: absolute;
  top: 3%;
  left: 6.6%;
}

.cloud {
  position: absolute;
  left: 2%;
  bottom: 35.9%;
}

.cloudBig {
  position: absolute;
  right: 11%;
}

.pokeBall {
  position: absolute;
  right: 2.9%;
  bottom: 53.26%;
}

.pikachu {
  position: absolute;
  top: 0%;
  right: 20%;
}
